# NetHunter Additions and Fixes
CONFIG_CFI_PERMISSIVE=y

# NetHunter Wi-Fi Injection Modules
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH9K_HTC=m
CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_RT2X00=m
CONFIG_RT2800USB=m
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_RTL8187=m
CONFIG_RTL8192CU=m
CONFIG_WLAN_VENDOR_MEDIATEK=y
CONFIG_MT7601U=m

# Bluetooth / Serial
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_SERDEV=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIUART_LL=y
CONFIG_BT_HCIUART_BCM=y
CONFIG_BT_HCIUART_QCA=y

# USB and Networking
CONFIG_HIDRAW=y
